<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.followmoney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <!--========MAIN ACTIVITY========-->
        <activity android:name="br.com.followmoney.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--========FINALIDADE========-->
        <activity
            android:name="br.com.followmoney.activities.finalities.FinalityListActivity"
            android:parentActivityName="br.com.followmoney.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.finalities.FinalityCreateOrEditActivity"
            android:parentActivityName="br.com.followmoney.activities.finalities.FinalityListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.finalities.FinalityListActivity" />
        </activity>

        <!--========CARTAO DE CREDITO========-->
        <activity
            android:name="br.com.followmoney.activities.creditCards.CreditCardListActivity"
            android:parentActivityName="br.com.followmoney.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.creditCards.CreditCardCreateOrEditActivity"
            android:parentActivityName="br.com.followmoney.activities.creditCards.CreditCardListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.creditCards.CreditCardListActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.creditCardInvoices.CreditCardInvoiceListActivity"
            android:parentActivityName="br.com.followmoney.activities.creditCards.CreditCardListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.creditCards.CreditCardListActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.creditCardInvoices.CreditCardInvoiceMovementListActivity">
        </activity>
        <activity
            android:name="br.com.followmoney.activities.creditCardInvoices.CreditCardPaymentInvoiceActivity">
        </activity>

        <!--========CONTA BANCÁRIA========-->
        <activity
            android:name="br.com.followmoney.activities.bankAccounts.BankAccountListActivity"
            android:parentActivityName="br.com.followmoney.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.bankAccounts.BankAccountCreateOrEditActivity"
            android:parentActivityName="br.com.followmoney.activities.bankAccounts.BankAccountListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.bankAccounts.BankAccountListActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.bankAccounts.BankAccountExtractMovementListActivity">
        </activity>

        <!--========FORMA PAGAMENTO========-->
        <activity
            android:name="br.com.followmoney.activities.paymentForms.PaymentFormListActivity"
            android:parentActivityName="br.com.followmoney.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.paymentForms.PaymentFormCreateOrEditActivity"
            android:parentActivityName="br.com.followmoney.activities.paymentForms.PaymentFormListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.paymentForms.PaymentFormListActivity" />
        </activity>

        <!--========MOVIMENTO========-->
        <activity
            android:name="br.com.followmoney.activities.movements.MovementListActivity"
            android:parentActivityName="br.com.followmoney.activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.movements.MovementCreateOrEditActivity"
            android:parentActivityName="br.com.followmoney.activities.movements.MovementListActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.followmoney.activities.movements.MovementListActivity" />
        </activity>
        <activity
            android:name="br.com.followmoney.activities.movements.MovementDetailActivity">
        </activity>

    </application>

</manifest>